*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, sans-serif;
}

.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #fff;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav p{
    font-weight: bold;
    font-size: 20px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: blue;
}

.typo{
    margin-left: 8%;
    margin-top: 14%;
}

.typo h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

.typo p{
    color: #555;
    line-height: 22px;
}

.typo a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    top: -2%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s; 
}

.images:hover .pp{
    left: 45%;
}
/* end of header */

/* main section */
.about{
    margin-top: 10%;
    text-align: center;
}

.about p{
    padding: 40px;
}

.slideKu{
    display: none;
}

.slideKu img{
    vertical-align: middle;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

 .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
    .images {order: -1;}
  }

